#navBar { /* Div Holding the nav bar*/
    padding: 3px;
    position: sticky; top: 0px;
    background-color: #141414;
    margin: 0;
}

#navTitle { /* Styles the main section of the title on the nav bar*/
    display: flex;
    justify-content: center;
    position: sticky; top: 0px;
    margin: 0;
}

#navTitle>h1 {
    margin-bottom: 0;
    color: white;
}

#navLinksBar { /* links div */
    display: flex;
    justify-content: left;
    position: sticky; top: 0px;
    margin: 0;
}
.pages{
    margin-left: 25px;
    display: flex;
} 
.pages>a { /* links header */
    margin-left: 20px;
    text-decoration: none;
    color: white;
}
.pages>a:hover {
    color: #83D350;
}

body {
    margin: 0;
    background-color: #141414;
    height: 95vh;
    display: grid;
    grid-template: auto 1fr auto/auto 1fr auto;
}

#essay {
    border-radius: 25px;
    border: 8px solid #1c1b1b;
    padding: 15px;
    width: min-content;
    height: min-content;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: auto;
    justify-content: center;
    width: calc(100% - 40px);
    max-width: 800px;
}
#essay>h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#essay>h2 {
    display: block;
    font-weight: bold;
}
#essay>p {
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 1.25rem;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    text-align: justify;
}

.logo {
    width: 30px;
    height: 30px;
    background-color: #222222;
    border-radius: 50%;
    padding: 6px;
  }
  #youtube:hover {
    background-color: red;
  }
  #instagram:hover {
    background-color: palevioletred;
  }
  #facebook:hover {
    background-color: #1877F2;
  }
  #twitter:hover {
    background-color: #1DA1F2;
  }
  #reddit:hover {
    background-color: #FF5700;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 10px; /* adds some spacing between list items */
  }

  /*
  .dot {
    position:relative; top:55px; left: 0px;
    height: 45px;
    width: 45px;
    background-color: 	#222222;
    border-radius: 50%;
    display: inline-block;
  }

  .dot:hover {
    background-color: red;
  }
  */
  
  /*
  Grid section 
  */
  header {
    grid-column: 1/4;
    position: sticky; top: 0px;
  }
  #section1 {
    
  }
  #section2 {
    
  }
  #section3 {
    
  }
  footer {
    background-color: #141414;
    display: flex;
    justify-content: center;
    grid-column: 1/span 3;
    margin-bottom: 0px;
  }


  /* 
  Images in the about page / essay 
  */
  #image1 { /* image1 div*/
    display: flex;    
    border-radius: 25px;
    border: 8px solid #1c1b1b;
    padding: 7px;
    width: min-content;
    margin-left: 23px;
  }
  #image1>img { /* image1 image*/
    height: 450px;
    width: 450px;
    border-radius: 5%;
  }
  #image2 { /* image1 div*/
    display: flex;    
    border-radius: 25px;
    border: 8px solid #1c1b1b;
    padding: 7px;
    width: min-content;
    margin-right: 23px;
    margin-top: 300px;
  }

  #image2>img { /* image1 image*/
    height: 450px;
    width: 450px;
    border-radius: 5%;
  }
  #image3 { /* image1 div*/
    display: flex;    
    border-radius: 25px;
    border: 8px solid #1c1b1b;
    padding: 7px;
    width: min-content;
    margin-left: 23px;
    margin-top: 200px;
  }
  #image3>img { /* image1 image*/
    height: 450px;
    width: 450px;
    border-radius: 5%;
  }
  #image4 { /* image1 div*/
    display: flex;    
    border-radius: 25px;
    border: 8px solid #1c1b1b;
    padding: 7px;
    width: min-content;
    margin-left: 23px;
    margin-top: 400px;
  }
  #image4>img { /* image1 image*/
    height: 450px;
    width: 450px;
    border-radius: 5%;
  }


  /* 
  Google Font
    <uniquifier>: Use a unique and descriptive class name
     <weight>: Use a value from 100 to 900 
  */
.roboto-slab-h1 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.roboto-slab-h2 { /*google font */
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }


  /* 
  Location section of the contact page 
  */
  #locationSection {
    align-content: center;
    border-radius: 25px;
    border: 8px solid #1c1b1b;
    margin-left: 80px;
  }
  #locationSection>h2 {
    color: white;
    text-align: center;
    margin: 0;
    padding: 3px;
  }
  #map>iframe {
    border-radius: 5%;
    padding: 12px;
  }
  #map {
    border-radius: 25px;
    border: 8px solid #1c1b1b;
    margin-top: 40px;
    margin-left: 80px;
  }


  /* 
  Contact me section of the contact page 
  */
  #contactSection {
    align-content: center;
    border-radius: 25px;
    border: 8px solid #1c1b1b;
    margin-left: 80px;
    margin-right: 80px;
  }
  #contactSection>h2 {
    color: white;
    text-align: center;
    margin: 0;
    padding: 3px;
  }
  #contactText {
    border-radius: 25px;
    border: 8px solid #1c1b1b;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
  }

  #list>li>h2 {
    color: white;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  #list>li>p {
    color: white;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #indexBody {
    background:"Amazing_Ian.jpg";
    margin-bottom: 0;
   }
   nav {
    margin-bottom: 0px;
   }
   #batman {
    border-radius: 25px;
    border: 8px solid #1c1b1b;
    padding: 7px;
    width: min-content;
    height: min-content;
    align-content: center;
    margin: auto;
   }